MedNeg/Web References/FacturaService/svcTimbrado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="svcTimbrado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.104:9833/Timbrado.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.104:9833/Timbrado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.104:9833/Timbrado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FacturaService" />
      <xsd:import schemaLocation="http://192.168.1.104:9833/Timbrado.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimbrado_Timbrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Timbrar" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_Timbrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTest_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTest" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_TimbrarTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarTestResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_PDF_InputMessage">
    <wsdl:part name="parameters" element="tns:PDF" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_PDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:PDFResponse" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_Cancelar_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancelar" />
  </wsdl:message>
  <wsdl:message name="ITimbrado_Cancelar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimbrado">
    <wsdl:operation name="Timbrar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimbrado/Timbrar" message="tns:ITimbrado_Timbrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimbrado/TimbrarResponse" message="tns:ITimbrado_Timbrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarTest">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimbrado/TimbrarTest" message="tns:ITimbrado_TimbrarTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimbrado/TimbrarTestResponse" message="tns:ITimbrado_TimbrarTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PDF">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimbrado/PDF" message="tns:ITimbrado_PDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimbrado/PDFResponse" message="tns:ITimbrado_PDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimbrado/Cancelar" message="tns:ITimbrado_Cancelar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimbrado/CancelarResponse" message="tns:ITimbrado_Cancelar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimbrado" type="tns:ITimbrado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Timbrar">
      <soap:operation soapAction="http://tempuri.org/ITimbrado/Timbrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarTest">
      <soap:operation soapAction="http://tempuri.org/ITimbrado/TimbrarTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PDF">
      <soap:operation soapAction="http://tempuri.org/ITimbrado/PDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <soap:operation soapAction="http://tempuri.org/ITimbrado/Cancelar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcTimbrado">
    <wsdl:port name="BasicHttpBinding_ITimbrado" binding="tns:BasicHttpBinding_ITimbrado">
      <soap:address location="http://192.168.1.104:9833/Timbrado.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>